apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx
  namespace: industria
data:
  default.conf: |
    server {
      listen 80;
      server_name _;

      location / {
        root   /usr/share/nginx/html;
        index  index.html;
        try_files $uri $uri/ /index.html;
      }

      location /api/ {
        proxy_pass http://api-svc:8000/;  # <--- K8s service name
        proxy_http_version 1.1;
        proxy_set_header Host $host;
      }
    }

