apiVersion: v1
kind: Service
metadata:
  name: model-svc
spec:
  selector: { app: model }
  ports:
    - port: 8001
      targetPort: 8001
---
apiVersion: v1
kind: Service
metadata:
  name: api-svc
spec:
  selector: { app: api }
  ports:
    - port: 8000
      targetPort: 8000
